@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;900&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #04152d;
  --font-robot: "Roboto";
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  overflow-x: hidden;
  min-height: 100vh;
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
}

#root {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

